<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Druk paska zgłoszenia zadań</title>
        <style>
            table {
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
                text-align: center;
            }
            td, th {
                border: 2px solid #000;
                padding: 5px;
            }
            h1 {
                text-align: center;
                margin-bottom: 50px
            }
            .container {
                margin: 0 auto;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Druk paska zgłoszenia zadań</h1>
            <table>
                <tr>
                    <td colspan="4">Przedmiot: <%= courseName %></td>
                    <td colspan="5">Imię i nazwisko: <%= firstName %> <%= lastName %></td>
                    <td colspan="3">Data: <%= new Date().toLocaleDateString('pl-PL') %></td>
                </tr>
                
                <tr>
                    <td><b>Nr zad.</b></td>
                    <% tasks.forEach((val, index) => { %>
                        <td><%= index+1 %>.</td>
                    <% }) %>
                    <td><b>Suma</b></td>
                </tr>
                
                <tr>
                    <td><b>Ilość pkt</b></td>
                    <% tasks.forEach((val) => { %>
                        <td><%= val %> pkt</td>
                    <% }) %>
                    <td><%= sum %> pkt</td>
                </tr>
            </table>
        </div>
    </body>
</html>

